input{
  height: 50%;
  margin-top: 10px;
}
button {
    height: 50%;
    margin-top: 30px;
    margin-left: 20px;
}
.box{
      
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.list{
 
    display: flex;
    justify-content: space-between;
       
 
}
.wrapper {

   
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    height: 420px;    
  
}
.first{
    margin-top: 5px;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }

select{margin-left: 100px;
        margin-top: 30px;


}

.fir{
    width :100px;
}

.p{
  text-align: left;
}

.tag{
  font-size: 10px;
  display: inline-block;
  margin-left: 20px;
}
.thi{
  margin-left: 20px;
}
